<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  
</head>
<body>
    <form action="/search" method="post">
        <div>Enter the name of the sport and find people at a similar level to play together!</div>
        <input type="text" name="searchInput" id="search" autocomplete="off">
        <button type="submit">Check who play this sport!</button>
    </form>

    <div class="row">
        <div class="col-lg-3 col-md-4" col-sm-6>  
            <img src="" alt="img to be added">
            Josh <br>
            Josh@gmail.com
            <ul>
                <li>badminton: intermediate</li>
                <li>table tennis: beginner</li>
                <li>skiing: never skiied before, but would like to learn</li>
            </ul>
        </div>
        <div class="col-lg-3 col-md-4" col-sm-6>  
            <img src="" alt="img to be added">
            Mary
            <ul>
                <li>basketball: advanced</li>
                <li>skating: beginner</li>
                <li>skiing: beginner</li>
            </ul>
        </div>
        <% for (let person of persons) { %>
            <div class="col-lg-3 col-md-4 col-sm-6">  
                <%= person.name %> 
                <%= person.contact %>
                <ul>
                    <% for (let sport of person.sports) { %>
                        <li> <%= sport.name %> <%= sport.level %> </li>
                   <% } %>
                </ul>
            </div>
        <% } %>
    </div>

    <div>
        enter your information below so that other people can find and contact you!

        <form action="/" method="post">
            <ul>
                <li><label for="userName">Name</label> <input type="text" name="name" id="userName"></li>
                <li>
                    <label for="userContact">Contact Info</label> <br>
                    <textarea name="contact" id="userContact" cols="30" rows="10"></textarea>
                </li>
                <li>
                    <label for="userSports">Sports you play</label> <br>
                    <ul id="list-of-sport">
                        <p id="add-sport-button">add</p>
                        <li><input type="text" name="sport" id="sport1" autocomplete="off">
                            <input type="text" name="level" value="skill level"> 
                        </li>
                    </ul>
                </li>
            </ul>
            <button type="submit">Submit</button>
        </form>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.6/dist/autoComplete.min.js"></script>
    <script type="module" src="/js/js.js"></script>
    <!--<script src="/js/suggestions.js"></script>-->
</body>
</html>