<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div id="topWrapper">
        <div id="searchWrapper">
            <h1 id="searchText" onclick="location.href='/';">Looking for people to play a sport with?</h1>
            <h6>Enter the name of the sport and find people at your similar level to play together!</h6>
            <form action="/search" method="post" id="searchBar">
                <input class="form-control" type="text" name="searchInput" id="search" autocomplete="off">
                <button class="btn btn-primary" id="searchBtn" type="submit">Check who play this sport!</button>
            </form>
        </div>
        
        
        <div class="mid-container">
            <div id="page-content" class="row"></div>
        <div id="pagination-bar" class="pagination-sm"></div>
        </div>
    </div>

    <div class="bot-wrapper row bg-dark text-light">
        <div class="col-lg-8 col-md-10 col-sm-10 form-card">
            <h3>Post your information so that other people can contact you!</h3>
            <form action="/" method="post">
                
                    <div class="form-group"><label class="form-label" for="userName">Name</label> <input type="text" name="name" class="form-control" id="userName"></div>
                    <!--<div class="form-group">
                        <label class="form-label" for="userProfilePic">Upload a picture of yourself (optional)</label>
                        <input type="file" class="form-control" name="profilePic" id="userProfilePic">
                    </div>-->
                    <div class="form-group">
                        <label class="form-label" for="userContact">Contact Info & Social Media</label> <br>
                        <textarea class="form-control" name="contact" id="" cols="20" rows="10"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="userInfo">Brief self-introduction and other information you wish to include</label> <br>
                        <textarea class="form-control" name="info" id="userInfo" cols="30" rows="10"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="userSports">Sports you play</label> <br>
                        <ul id="list-of-sport">
                            <span class="btn btn-outline-secondary btn-sm" id="add-sport-button">add</span>
                            <li class="input-group">
                                <input class="form-control" type="text" name="sport" id="sport1" autocomplete="off">
                                <input class="form-control" type="text" name="level" placeholder="describe your skill level and preferences when looking for sportmate"> 
                            </li>
                        </ul>
                    </div>
                
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>
    </div>
    
    <span id="peopleData" data-people='<%= JSON.stringify(persons) %>'></span>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.2/jquery.twbsPagination.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.6/dist/autoComplete.min.js"></script>
    <script type="module" src="/js/scripts.js"></script>
    <script type="module" src="/js/pagination.js"></script>
    <!--<script src="/js/suggestions.js"></script>-->
</body>
</html>