<template class="col-lg-3 col-md-4 col-sm-6 card-wrapper">  
    <div class="card overflow-auto">
        <div class="card-body">
            <h5 class="card-title"></h5>
            <div class="card-subtitle mb-2 text-muted"></div>
            <p class="card-text overflow-auto"></p>
            <ul class="list-group">
            <!--<% for (let sport of person.sports) { %>
                <li class="list-group-item"> 
                    <span class="badge bg-secondary"><%= sport.name %></span> 
                    <span class="level"><%= sport.level %> </span>
                </li>
            <% } %>-->
            </ul>
        </div>
    </div>
</template>